header.header.js-header
  .row
    .col-12.column.l-flex.l-flex--ac.l-flex--header
      .nav
        button.hamburger.hamburger--elastic.js-hamburger(type="button")
          span.hamburger-box
            span.hamburger-inner

        h1.lp__logo
          a(href="#"): img(src="images/logo.png", alt="Ymeet.me - hẹn hò an toàn cho phụ nữ")
        .nav__main.js-nav
          h1.nav__logo
            a(href="#"): img(src="images/logo.png", alt="Ymeet.me - hẹn hò an toàn cho phụ nữ")
          nav.nav__list
            a.nav__link(href="#").l2 Câu chuyện của Ymeet.me
            a.nav__link(href="#").l2 Blog
            a.nav__link(href="#").l2 Liên hệ

      a.btn.btn--primary.header__btn(href="#") Đăng nhập bằng 
        .icon-bg.margin-l10
          i.fa.fa-facebook

      a.btn.btn--google.header__btn.margin-l10(href="#") Đăng nhập bằng 
        .icon-bg.margin-l10
          i.fa.fa-google-plus

