header.header
  .row
    .col-10.col-lg-12.l-flex-sb
      h1.logo
        a(href="#"): img(src="images/logo.png", alt="logo")
      .header__right
        .l-flex-sb
          a.txt-light.mrlg(href="#") Dont have a pw Account?
          a.btn.btn--header(href="#") SIGN UP 

    .nav
      button.hamburger.hamburger--elastic.js-hamburger(type="button")
        span.hamburger-box
          span.hamburger-inner
