nav.nav__content
	h4 Payalto
	p.txt-blue Digital Goods
	.padding-l10
		div Stored widget call
		div Non-stored Widget call
		div Optional Parameters
	p Virtual Currency
	.padding-l10
		div Widget Call
	p Callback
	p Pingback processing
	.padding-l10
		div Introduction
		div HTTP Pingback
		div Email pingback
		div Expect Response
	.mbmd
		p.txt-light brick
		div Creat oneetime token
		div Charge
		div Subscription
	.mbmd
		p.txt-light mint
		div Get Epin
		div Get Balance
		div Get avaliable balance
		div Redemption
	.mbmd
		p.txt-light Mobiamo
		div Price points
	.mbmd
		p.txt-light Tools API
		div Bridge  OAuth
		div Cancellation
		div Coupons
		div Delivery Confirmation
		div Invoice
		div Payment Status
		div Payment System
		div Bridge OAuth
		div Product Details
		div Reporting
		div User Profile