.tab.hsdiv
  a(href="#").tab__link.active
    |  Javascript
  a(href="#").tab__link
    | Java
  a(href="#").tab__link
    |	PHP
  a(href="#").tab__link
    |	.Net
  a(href="#").tab__link
    | Python

.tab__content
  .code-container 
    code import

.tab__content.hide        
  h3 Java
.tab__content.hide        
  h3 PHP
.tab__content.hide        
  h3 .Net
.tab__content.hide        
  h3 Python