@b brick {
  position: relative;

  size: 100% 0;
  padding-bottom: 100%;

  overflow: hidden;

  border: 1px solid $colorGrayLight;
  border-radius: 6px;

  img { /* stylelint-disable-line */
    transform: scale(1.5);
  }
}
