@b btn {
  display: inline-block;
  padding: $space-md $space-lg;

  font-weight: 600;
  color: $color-white;
  text-align: center;

  cursor: pointer;
  background-color: $body-color;
  border: 0;
  border-radius: $radius-small;

  @m header {
    color: $colorTextLight;
    background: transparent;
    border: 1px solid $colorTextLight;

    &:hover {
      border-color: $color-white;
    }

    &:active {
      border-color: $color-white;
      transform: translateY(2px);
    }
  }

}
