@b btn {
  display: inline-block;
  padding: $space-md $space-lg;

  font-family: $font-family-body;
  font-size: 16px;
  font-weight: 700;
  color: $body-color;
  text-align: center;

  cursor: pointer;
  background-color: $color-light-gray;
  border: 0;
  border-radius: $radius-small;
  box-shadow: inset 0 -2px 0 0 color($body-color a(50%));

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }

  &.is-loading {
    .fa {
      transform-origin: center;
      animation: spining 0.5s linear infinite;
    }
  }

  @m primary {
    color: $white;
    border-radius: $radius-large-big;
  }

  /* block */
  @m b {
    display: block;
    width: 100%;
  }

  @m fb {
    color: $white;
    background-color: $color-facebook;

    &:disabled {
      background-color: color($color-facebook tint(20%));
    }
  }

  @m 5 {
    padding: 1rem 0;
    color: $colorTextLight;
    border-radius: $radius-large-big;
  }
}

@b btn-ground {
  display: flex;
  padding: 2rem 1rem 1rem;

  @e btn {
    flex: 1;

    padding: 0.5rem 0;
    font-size: 12px;
    text-align: center;

    border: 1px solid $color-light-gray;

    &.active {
      color: $white;
      background: $color-info;
    }

    @media (--phone-up) {
      font-size: 1rem;
    }

    @m left {
      margin-right: -1px;
      border-radius: 2rem 0 0 2rem;
    }

    @m right {
      border-radius: 0 2rem 2rem 0;
    }
  }
}

/* Paginate button */
@b pagi {
  position: fixed;
  top: 50%;
  z-index: 10;

  size: 50px;

  background: color($colorTextLight a(40%));
  border: 1px solid $white;
  border-radius: 50%;
  outline: none;

  transform: translateY(-50%);

  &.is-hide {
    display: none;
  }

  .fa {
    font-size: 18px;
    line-height: 50px;
    color: $white;
  }

  @e prev {
    left: -25px;
    padding-right: 10px;
    text-align: right;

    @m 1 {
      left: 7px;

      .no-touch {
        left: -30px;
      }
    }
  }

  @e next {
    right: -25px;
    padding-left: 10px;
    text-align: left;

    @m 1 {
      right: 7px;

      .no-touch & {
        right: -30px;
      }
    }
  }

  @m 2 {
    position: absolute;

    padding: 0;

    text-align: center;
  }
}
