@b card {
  position: relative;

  @e top-right {
    position: absolute;
    top: -10px;
    z-index: 2;

    padding: 3px 5px;

    border-radius: 50%;

    @m 1 {
      right: -7px;
      font-size: 11px;
      line-height: 1;
      color: $white;
      background: $san-marino;
      border: 2px solid $white;
    }

    @m bg1 {
      right: -7px;
      size: 20px;
      background: $colorPinkMedium;
      border: 2px solid $white;
      > img { /* stylelint-disable-line */
        max-width: 9px;
      }

      .img-normal {
        max-width: 200%;
      }
    }

  }

  @e link {
    position: relative;
    display: block;

    size: 100% 0;
    padding-bottom: 100%;

    &.is-loading {
      &::before {
        position: absolute 0;
        z-index: 10;

        content: "";
        background: color($colorBlack a(50%));
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;

        size: 42px;
        margin-top: -21px;
        margin-left: -21px;

        font-family: fontAwesome;
        font-size: 2rem;
        line-height: 42px;
        color: $colorWhite;
        text-align: center;
        content: "\f110";

        animation: spining 1s linear infinite;
      }
    }

    img { /* stylelint-disable-line */
      width: 100%;
    }
  }
}
