/* Horizontal scroll div */

.hsdiv {
  padding: $base $base 0;
  overflow-x: auto;

  white-space: nowrap;

  background-color: $color-secondary;
}

.hsdiv::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: #c9c9c9;
}

.hsdiv::-webkit-scrollbar
{
  border-radius: 10px;
  height: 0.5rem;
  background-color: #c9c9c9;
}

.hsdiv::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #8d9399;
  width: 80%;
}
