.nav {
  z-index: 20;
  flex-grow: 1;

  &__main {
    position: fixed;
    top: 130px;
    bottom: 0;
    left: 0;
    overflow-y: auto;

    width: 300px;
    padding: $space-lg $gutter;

    background-color: rgba($body-bg, 0.9);

    transition: transform 0.5s ease-out-quart;
    transform: translateX(-100%);
    will-change: transform;

    &.is-show {
      transform: translateX(0);
    }
  }

  &__logo {
    display: none;
    margin-bottom: $space-lg;

    @media (--small-up) {
      display: block;
    }
  }

  &__link {
    display: block;
    margin-bottom: $space-md;

    color: $color-primary;
    text-transform: uppercase;
    text-decoration: none;
  }

  @media (--small-down) {
    display: flex;
    flex: 100%;
    justify-content: space-between;
  }

  @media (--desktop-screen) {
    .hamburger {
      display: none;
    }

    &__main {
      position: inherit;

      display: flex;
      align-items: center;
      width: auto;
      padding: 0 $space-sm 0 0;
      margin-right: $space-lg;

      background-color: transparent;
      transform: none;
    }

    &__logo {
      flex-grow: 1;
      margin-bottom: 0;
    }

    &__link {
      display: inline-block;
      margin-bottom: 0;

      font-size: $font-size-h4;
      font-weight: 600;
      color: $color-white;
      text-shadow: $text-shadow;

      &.l2 {
        color: $color-primary;
        text-shadow: none;
      }

      &:not(:last-child) {
        margin-right: $space-lg;
      }
    }
  }
}

.lp__logo {
  @media (--small-up) {
    display: none;
  }
}
