@b nav {
  z-index: 20;
  flex-grow: 1;

  @e content {
    padding: $space-md 0;
  }

  @e main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    padding: $space-xxlg $gutter;

    overflow-y: auto;
    background-color: rgba($color-light-blue, 0.9);

    transition: transform 0.5s ease-out-quart;
    transform: translateX(-100%);

    &.is-show {
      transform: translateX(0);
    }
  }

  @e link {
    display: block;
    margin-bottom: $space-md;

    color: $body-color;
  }

  @media (--medium-up) {
    display: none;
  }
}
