@b table {
  /* stylelint-disable-line */
  display: block;
  width: 100%;

  font-weight: 600;
  text-align: left;
  white-space: normal;
  border-collapse: collapse;

  td, th { /* stylelint-disable-line */
    width: 20%;
    padding: 10px 8px;
    border: 1px solid $colorBorder;

    &:last-child {
      width: 100px;
    }
  }

  @m 1 {
    td { /* stylelint-disable-line */
      width: 40%;
      padding: 10px 8px;
      vertical-align: baseline;
      border: 0;

      &:last-child {
        width: 60%;
      }
    }
  }
}
