@b tab {
  position: relative;
  padding: $base $base 0;

  background-color: $color-secondary;

  @e content {
    display: flex;
    flex: 1;

    padding: $space-md;

    color: $color-white;
    word-wrap: break-word;
    flex-direction: column;
    background-color: $color-primary;
  }

  @e link {
    display: inline-block;
    padding: $space-md calc($base*2);

    font-weight: 600;
    color: $color-white;
    text-align: center;

    border-bottom: 3px solid transparent;

    &.active {
      color: $color-yellow;
      border-color: $color-yellow;
    }

    &:hover {
      color: $color-yellow;
    }
  }

  @e title {
    font-size: $font-size-h4;
    font-weight: 600;
  }
}
