extends layouts/default

block content

  include include/header

  .test-topbar__ghost

  .btn-ground
    a.btn-ground__btn.btn-ground__btn--left.active Ghép đôi thành công
    a.btn-ground__btn.btn-ground__btn--right Ghép đôi ngẫu nhiên 24h

  ul.test-list-underline
    li
      a.test-media(href="#")
        .test-media__item.test-media__item--1.card
          img.test-bordered.test-radius(src="http://www.radfaces.com/images/avatars/linda-barret.jpg")
          .card__top-right.card__top-right--1
            <i class="fa fa-lock" aria-hidden="true"></i>
        .test-media__item.test-media__item--2
          div Tran Quan Hy<br>23 tuổi - Ho Chi Minh
        .test-media__item
          .test-noti 8
    li
      a.test-media(href="#")
        .test-media__item.test-media__item--1.card
          img.test-bordered.test-radius(src="http://www.radfaces.com/images/avatars/winnie-cooper.jpg")
          .l-flex-center.card__top-right.card__top-right--bg1
            img(src=`https://s3.amazonaws.com/odpublic/bow-white.png`, alt=`bow-white`)
        .test-media__item.test-media__item--2
          div Ta Dinh Phong<br>23 tuổi - Ho Chi Minh
        .test-media__item
          .test-noti 12
    li
      a.test-media(href="#")
        .test-media__item.test-media__item--1.card
          img.test-bordered.test-radius(src="http://www.radfaces.com/images/avatars/wednesday-addams.jpg")
        .test-media__item.test-media__item--2
          div Duong Tu Di<br>23 tuổi - Ho Chi Minh
        .test-media__item
          .test-noti 324
    li
      a.test-media(href="#")
        .test-media__item.test-media__item--1.card
          img.test-bordered.test-radius(src="http://www.radfaces.com/images/avatars/tina-carlyle.jpg")
        .test-media__item.test-media__item--2
          div Chau Tinh Tri<br>23 tuổi - Ho Chi Minh
        .test-media__item
          .test-noti 4
    li
      .test-media.test--loader
        .test-media__item.test-media__item--1
          .test-media__loader-avatar
        .test-media__item.test-media__item--2
          .test-media__loader-text.test-media__loader-text--1
          .test-media__loader-text
    li
      .test-media.test--loader
        .test-media__item.test-media__item--1
          .test-media__loader-avatar
        .test-media__item.test-media__item--2
          .test-media__loader-text.test-media__loader-text--1
          .test-media__loader-text

  include include/navigation
