.container-detail {
  max-width: $container-width;
  min-height: 100vh;
  margin: 0 auto;

  /*background-color: $body-bg;*/
}

/* Align items center vertycal and hozizantal */
.l-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

