.test-list-underline {
  li { /* stylelint-disable-line */

    &:not(:last-child) {
      border-bottom: 1px solid $color-light-gray;
    }
  }

}

.test-list-unstyled {
}

/* list equal column */
.test-list-ec {
  display: flex;
  flex-wrap: wrap;

  text-align: center;


  li { /* stylelint-disable-line */
    width: 33.33%;

    border-bottom: 1px solid $color-light-gray;

    &:not(:nth-child(3n)) {
      border-right: 1px solid $color-light-gray;
    }
  }

  a { /* stylelint-disable-line */
    display: block;
    padding: $space-md $space-sm;

    color: $body-color;
  }
}
