/* Table of contents */

/*
 *  1. Global
 *  2. Colors
 *  3. Typography
 *  4. Space
 *  5. Decorate
 *
 */

/* 1. Global */
$base: 14px;
$gutter: 15px;
$type-scale: 1.25;
$line-height-base: 1.4;
$nav-width: 280px;
$container-width: 1400px;
$transition-time: 0.25s;
$transition-effect: ease-in;

/* 2. Colors */

$color-primary: #21252b;
$color-secondary: #282c34;
$body-color: #474747;
$body-bg: #fff;
$link-color: #44aaff;
/* 3. Typography */
$font-sans-serif: "Source Sans Pro", sans-serif;

/* $font-serif: Bitter, serif; */

$font-special: Damion, cursive; /* This is optional, remove if nessesary */

$font-family-body: $font-sans-serif;
$font-family-heding: $font-serif;

$font-size-h1: calc($base * $type-scale * $type-scale * $type-scale * $type-scale);
$font-size-h2: calc($base * $type-scale * $type-scale * $type-scale);
$font-size-h3: calc($base * $type-scale * $type-scale);
$font-size-h4: calc($base * $type-scale);
$font-size-h5: $base;
$font-size-h6: calc($base / $type-scale);
$font-size-base: $base;

$font-weight-base: 400;

/* 4. Space */
$space-xs: calc($base / 4);
$space-sm: calc($base / 2);
$space-md: $base;
$space-lg: calc($base * 2);
$space-xlg: calc($base * 4);

/* 4. Decorate */
$radius-small: 4px;
$radius: calc($base / 2);
$radius-big: $base;
$radius-large-big: calc($base * 2);

/* Media query: Breakpoint variables */
$bpSmall: 768px;
$bpMedium: 992px;
$bpLarge: 1200px;

/* Can't use var in custom media
   Use px unit instead
 */
@custom-media --phone-up (min-width: 576px);
@custom-media --small-up (min-width: 768px);
@custom-media --medium-up (min-width: 992px);
@custom-media --large-up (min-width: 1200px);

/* Transition */
$transition: all 0.2s ease-in-out-quad;
